{% extends "::base.html.twig" %}
{% block title %}
    cinemaconsultationBundle:studio:affichelesfilms2
{% endblock%}

{% block body %}
    <a href="{{path('cinemaconsultation_homepage')}}">
        Acceuil
    </a>
    <table border="2"> 

        {% for unFilm in film %}
            <tr>
                <th>Titre : {{ unFilm.titre }}</th>
                <td>Synopsis : {{unFilm.resume}}</td>
                <td>Pays : {{ unFilm.pays }} </td>
            </tr>
        {% else %}
            Erreur
        {% endfor %}

    </table>
{% endblock %}